<!doctype html>
<html>
  <title>Gallery</title>
  <head>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div><a href="..">back</div>
    {% for image in images %}
    <div class="thumbnail">
      <a href={{ url_for('medias') }}/collections/{{ collection_name }}/highres/{{ image }}>
          <img src={{ url_for('medias') }}/collections/{{ collection_name }}/thumbnail/{{ image }} alt={{ image }}>
      </a>
    </div>
    {% endfor %}
    {% for video in videos %}
    <div class="video">
      <video controls>
        <source src={{ url_for('medias') }}/collections/{{ collection_name }}/videos/{{ video }} type="video/webm">
        Your browser does not support the video tag.
      </video>
    </div>
    {% endfor %}
  </body>
</html>
