<!doctype html>
<html>
  <title>Gallery</title>
  <head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <form method="post" enctype="multipart/form-data">
      tags <input type="text" name="tags" value="{{ ', '.join(request.args.getlist('tag')) }}">
      date <input type="date" name="date" value="{{ request.args.get('date') }}">
      to <input type="date" name="to_date" value="{{ request.args.get('to_date') }}">
      <input type="submit" value="search">
    </form>
    <div><a href="..">back</div>
    {% for image in images %}
    <div class="thumbnail">
      <a href="{{ url_for('media') }}/photos/highres/{{ image }}">
          <img src="{{ url_for('media') }}/photos/thumbnails/{{ image }}" loading="lazy" alt="{{ image }}">
      </a>
    </div>
    {% endfor %}
  </body>
</html>
